<h1> <%= @user.username%>'s TeaScape Profile! </h1>


<h3> Here are the tea flavors you have reviewed on TeaScape: </h3>
 <% @user.reviewed_teas.each do |tea|%>
  <li> <%= link_to tea.flavor, tea_path(tea)%> </li>
  <% end %>
<br><br>


<h3> Would you like to review some more teas?! Let's get started: </h3>
 <%= link_to "Let's go review some more teas!", teas_path%>