
<br>
<h1> Welcome to TeaScape!  Let's get busy reviewing some teas, shall we? </h1>

<br>

<p>  Please check out the navigation bar to start exploring! </p>

<br>
<p> This is a Rail's Project. Please enjoy!
<br><br>
P.S. 
<br>
The name of this app was inspired by one of my favorite games: RuneScape
 </p>
