<h1> Aye mate! Let's get busy with some teas, shall we? </h1>



<%= link_to "Check out these yummy teas!", teas_path %>
 <br><br>
<%= link_to "Check out these brands!", brands_path %>
<br><br>

<%= link_to "Log Out", logout_path, method: :delete %>
