<h1> All of the TeaScape brands </h1>

<ul>
<% @brands.collect do |brand| %>
 <li><%= link_to brand.name, brand_path(brand) %></li>
<% end %>
</ul>

<br>

<h2> Don't see a specific brand of tea?! Make it! </h2>
<%= link_to "Create a new brand!", new_brand_path %>
<br>