<h1> All of the TeaScape brands </h1>

  <% @brands.each do |brand| %>
    <li><%= brand.name%></li>
  <% end %>

<h2> Don't see a specific brand of tea?! Make it! </h2>
<%= link_to "Create a new brand!", new_brand_path %>
<br>
<%= link_to "Create a new flavor of tea!", new_tea_path %>
