<h1> Check this brand of tea out: </h1>
<h3>Mmmm... <%= @brand.name %></h3>



<%= link_to "Edit this brand of Tea", edit_brand_path(@brand) %><br>

<%= link_to "Add a tea to this brand!", new_brand_tea_path(@brand) %><br>